[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "*"
twine = "*"
flake8 = "*"
pylint = "*"
black = "*"
ipython = "*"

[packages]
semver = "*"
python-box = "*"
marshmallow = "*"
pyyaml = "*"
uritools = "*"
gremlinpython = "*"
pymysql = "*"
msgpack = "*"
prompt-toolkit = ">=2.0.0,<2.1.0"
mock = "*"
jupyter = "*"
mlspeclib = "*"
gitpython = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
