[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "*"

[packages]
semver = "*"
python-box = "*"
marshmallow = "*"
pyyaml = "*"
uritools = "*"
gremlinpython = "*"
pymysql = "*"
msgpack = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
