-i https://pypi.org/simple
aenum==2.2.3
gremlinpython==3.4.6
isodate==0.6.0
marshmallow==3.6.0
mock==4.0.2
msgpack==1.0.0
prompt-toolkit==2.0.10
pymysql==0.9.3
python-box==5.0.0a0
pyyaml==5.4
semver==2.10.1
six==1.15.0
tornado==5.1.1
uritools==3.0.0
wcwidth==0.1.9
